*{
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box; /* Garante que padding e border não aumentem a largura do elemento */
}

body{
    margin: 0;
    padding: 0;
}

main{
    max-width: 1200px; /* Define a largura máxima do main */
    margin: 0 auto; /* Centraliza o main */
    padding: 20px; /* Aplica um espaçamento interno */
}

.center{
    text-align: center; /* Centraliza o texto horizontalmente */
}

.content{
    display: flex;
    flex-flow: column wrap;
    width: 100%; /* Define a largura como 100% dentro do main */
}

.topic-title{
    background-color: aquamarine;
    font-size: 20px;
    font-weight: 900;
}

.subtopic{
    font-weight: 900;
}

#traits, #seed, #electrum, #trilemma{
    width: 100%; /* Deixa as imagens responsivas */
    max-width: 500px; /* Limita a largura máxima das imagens */
    margin: 0 auto; /* Centraliza as imagens */
}

a:link, a:visited{
    color: #000000;
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 16px;
}

select, input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 17px;
    color: #555555;
    cursor: pointer;
}

button {
    background: #772FD3;
    border-radius: 5px;
    border: none;
    height: 48px;
    width: 100%;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}
button:active {
    opacity: 0.6;
}

section-box {
    border: 2px solid #772FD3;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.arrow-img {
    margin: 16px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: #777777;
    font-size: 14px;
}

.currency-value, .currency-value-to-convert {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}

footer{
    text-align: center;
    padding: 20px;
}

#author{
    background-color: aquamarine;
    font-weight: 900;
    text-align: center;
}
